includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	paths:
		- %currentWorkingDirectory%/src

	ignoreErrors:
		-
			path: 'src/Client.php'
			message: '~Parameter #1 \$function of function call_user_func_array expects callable\(\): mixed, string given~'
